.select {
  position: relative;
}
.select__item {
  position: relative;
}
.select__title {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.select__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 20px;
  font-size: 16px;
  height: 50px;  
}
.select__value span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 50px;  
  overflow: hidden;
}
.select__value::before {
  content: "";
  display: inline-block;
  transition: all .3s ease 0s;
  width: 11px;
  height: 7px;
  background-image: url(../img/select.svg);
}
.select__options {
  position: absolute;
  top: 49px;
  left: 0;
  display: none;
  padding: 0 0 5px 0;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-radius: 0 0 4px 4px;
  color: #000;  
  min-width: 100%;
  font-size: 16px;
  background-color: #fff;  
}
.select__option {
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
}
.select.active {
  z-index: 5;
}
.select.active .select__value::before {
  transform: rotate(-100deg);
}
.select.active.select__options {
  display: block;
}












